@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 20px;
        padding-right: 4rem;
        transform: translateX(-20px);
    }

    .scrollbar-small::-webkit-scrollbar {
        width: 4px;
        height: 20px;
        padding-right: 4rem;
        transform: translateX(-20px);
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        /* background: #3e4451; */
        background-color: #2b2d31;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #1f2228;
        border-radius: 100vh;
    }
}